 <!-- About Me Subpage -->
            <section class="pt-page pt-page-2" data-id="about_me">
              <div class="section-title-block">
                <h2 class="section-title">About Me</h2>
                <h5 class="section-description">Software Enginner, Web Developer, Mobile App</h5>
              </div>

              <div class="row">
                <div class="col-sm-6 col-md-6 subpage-block">
                  <div class="general-info">
                    <h3>I am Web Developer/Software Engineer @ teamflybd.com</h3>
                    <p><?php include('text-files/about.txt'); ?></p>
                  </div>
                </div>

                <div class="col-sm-6 col-md-6 subpage-block">
                  <div class="block-title">
                    <h3>Testimonials</h3>
                  </div>
                  <div class="testimonials owl-carousel">
                    <!-- Testimonial 2 -->
                    <div class="testimonial-item">
                      <!-- Testimonial Content -->
                      <div class="testimonial-content">
                        <div class="testimonial-text">
                          <p>"He is my vagna and a good human kind I've ever seen."</p>
                        </div>
                      </div>            
                      <!-- /Testimonial Content -->  
                      <!-- Testimonial Author -->
                      <div class="testimonial-credits">
                        <!-- Picture -->
                        <div class="testimonial-picture">
                          <img src="adil.jpg" alt="">
                        </div>              
                        <!-- /Picture -->
                        <!-- Testimonial author information -->
                        <div class="testimonial-author-info">
                          <p class="testimonial-author">Adil Chowdhury</p>
                          <p class="testimonial-firm">Software Engineer</p>
                        </div>
                      </div>
                      <!-- /Testimonial author information -->               
                    </div>
                    <!-- End of Testimonial 2 -->

                    <!-- Testimonial 2 -->
                    <div class="testimonial-item" style="width:100%">
                      <!-- Testimonial Content -->
                      <div class="testimonial-content">
                        <div class="testimonial-text">
                          <p>"Vivamus porta dapibus tristique. Suspendisse et arcu eget nisi convallis eleifend nec ac lorem."</p>
                        </div>
                      </div>            
                      <!-- /Testimonial Content -->  
                      <!-- Testimonial Author -->
                      <div class="testimonial-credits">
                        <!-- Picture -->
                        <div class="testimonial-picture">
                          <img src="images/testimonials/testimonial_photo_1.png" alt="">
                        </div>              
                        <!-- /Picture -->
                        <!-- Testimonial author information -->
                        <div class="testimonial-author-info">
                          <p class="testimonial-author">John Doe</p>
                          <p class="testimonial-firm">Apple Inc.</p>
                        </div>
                      </div>
                      <!-- /Testimonial author information -->               
                    </div>
                    <!-- End of Testimonial 2 -->
                  </div>
                </div>
              </div>

              <!-- Services block -->
              <div class="block-title">
                <h3>Services</h3>
              </div>

              <div class="row">
                <div class="col-sm-6 col-md-3 subpage-block">
                  <div class="service-block"> 
                    <div class="service-info">
                      <img src="images/service/webapp.jpg" alt="Responsive Design">
                      <h4>Web Development</h4>
                      <p>My Expertise lies in Custom Web Design & Development, Responsive Web Design, Static & Dynamic Website Development & Web Applications</p>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-md-3 subpage-block">
                  <div class="service-block"> 
                    <div class="service-info">
                      <img src="images/service/android.png" alt="Copywriter">
                      <h4>Android</h4>
                      <p>I am a leading mobile app developer who offers mobile software development focusing on Android app development service</p>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-md-3 subpage-block">
                  <div class="service-block"> 
                    <div class="service-info">
                      <img src="images/service/ecommerce-cart.png" alt="E-Commerce">
                      <h4>E-Commerce</h4>
                      <p>My expertice in E-commoerce development is so far.</p>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-md-3 subpage-block">
                  <div class="service-block"> 
                    <div class="service-info">
                      <img src="images/service/erp.png" alt="Management">
                      <h4>ERP</h4>
                      <p>I am Specialize in <b>E</b>nterprise <b>R</b>esource <b>P</b>lanning, Web and Desktop Software Development.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End of Services block -->

              <!-- Clients block -->
              <div class="block-title">
                <h3>Clients</h3>
              </div>

              <div class="row">
                <div class="col-sm-4 col-md-2 subpage-block">
                  <div class="client_block">
                    <a href="http://www.soccercric.com" target="_blank"><img src="images/clients/soccercric.png" alt="image"></a>
                  </div>
                </div>
              </div>
              <!-- End of Clients block -->

              <!-- Fun facts block -->
              <div class="block-title">
                <h3>Fun Facts</h3>
              </div>

              <div class="row">
                <div class="col-sm-6 col-md-3 subpage-block">
                  <div class="fun-fact-block gray-bg"> 
                    <i class="pe-7s-icon pe-7s-smile"></i>
                    <h4>Happy Clients</h4>
                    <span class="fun-value">1,024</span>
                  </div>
                </div>

                <div class="col-sm-6 col-md-3 subpage-block">
                  <div class="fun-fact-block"> 
                    <i class="pe-7s-icon pe-7s-alarm"></i>
                    <h4>Working Hours</h4>
                    <span class="fun-value">6,256</span>
                  </div>
                </div>

                <div class="col-sm-6 col-md-3 subpage-block">
                  <div class="fun-fact-block gray-bg"> 
                    <i class="pe-7s-icon pe-7s-medal"></i>
                    <h4>Awards Won</h4>
                    <span class="fun-value">21</span>
                  </div>
                </div>

                <div class="col-sm-6 col-md-3 subpage-block">
                  <div class="fun-fact-block"> 
                    <i class="pe-7s-icon pe-7s-coffee"></i>
                    <h4>Coffee Consumed</h4>
                    <span class="fun-value">20,000</span>
                  </div>
                </div>
              </div>
              <!-- End of Fun fucts block -->
            </section>
            <!-- End of About Me Subpage -->