 <!-- Home Subpage -->
            <section class="pt-page pt-page-1 section-with-bg section-paddings-0" style="background-image: url(images/home_page_bg_2.jpg);" data-id="home">
              <div class="home-page-block-bg">
                <div class="mask"></div>
              </div>
              <div class="home-page-block">
                <div class="v-align">
                  <h2>{{authorNameFull}}</h2>
                  <div id="rotate" class="text-rotate">
                    <div>
                      <p class="home-page-description">{{authorDesignationOne}}</p>
                    </div>
                    <div>
                      <p class="home-page-description">{{authorDesignationTwo}}</p>
                    </div>
                  </div>

                  <div class="block end" style="text-align: center">
                    <ul class="info-list">
                      <li><span class="title">Age</span><span class="value">24</span></li>
                      <li><span class="title">Address</span><span class="value">Teamfly BD , Mirboxtula, Sylhet</span></li>
                      <li><span class="title">e-mail</span><span class="value"><a href="mailto:na146363@gmail.com">na146363@gmail.com</a></span></li>
                      <li><span class="title">Phone</span><span class="value">+880 1731 001333</span></li>
                      <li><span class="title">Freelance</span><span class="value available">Available</span></li> 
                    </ul>
                  </div>
                </div>
              </div>
            </section>
            <!-- End of Home Subpage -->