     <!-- Resume Subpage -->
            <section class="pt-page pt-page-3" data-id="resume">
              <div class="section-title-block">
                <h2 class="section-title">Resume</h2>
                <h5 class="section-description">5 Years of Experience</h5>
              </div>

              <div class="row">
                <div class="col-sm-6 col-md-4 subpage-block">
                  <div class="block-title">
                    <h3>Education</h3>
                  </div>
                  <div class="timeline">
                    <!-- Single event -->
                    <div class="timeline-event te-primary">
                      <h5 class="event-date">2012-16</h5>
                      <h4 class="event-name">B.Sc in Computer Science and Engineering</h4>
                      <span class="event-description">Leading University</span>
                      <p>Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed tortor.</p>
                    </div>
                    <!-- Single event -->
                    <div class="timeline-event te-primary">
                      <h5 class="event-date">2012</h5>
                      <h4 class="event-name">Higher Secondary Certificate</h4>
                      <span class="event-description">Sylhet Govt. College</span>
                      <p>Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed tortor.</p>
                    </div>
                    <!-- Single event -->
                    <div class="timeline-event te-primary">
                      <h5 class="event-date">2010</h5>
                      <h4 class="event-name">Secondary School Certificate</h4>
                      <span class="event-description">The Aided High School</span>
                      <p>Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed tortor.</p>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-md-4 subpage-block">
                  <div class="block-title">
                    <h3>Experience</h3>
                  </div>
                  <div class="timeline">
                    <!-- Single event -->
                    <div class="timeline-event te-primary">
                      <h5 class="event-date">January 2016 - Current</h5>
                      <h4 class="event-name">Lead web developer, CEO and Co-founder</h4>
                      <span class="event-description">Teamflybd</span>
                      <p>Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed tortor.</p>
                    </div>
                    <!-- Single event -->
                    <div class="timeline-event te-primary">
                      <h5 class="event-date">August 2017 - October 2017</h5>
                      <h4 class="event-name">Software Engineer</h4>
                      <span class="event-description">Virtual Staffing</span>
                      <p>Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed tortor.</p>
                    </div>
                    <!-- Single event -->
                    <div class="timeline-event te-primary">
                      <h5 class="event-date">February 2015 - December 2015</h5>
                      <h4 class="event-name">Web Developer</h4>
                      <span class="event-description">DeviserWeb</span>
                      <p>Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed tortor.</p>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-md-4 subpage-block">
                  <div class="block-title">
                    <h3>Personal Skills</h3>
                  </div>
                  <div class="skills-info">
                    <h4>Communication</h4>                               
                    <div class="skill-container">
                      <div class="skill-percentage skill-1"></div>
                    </div>

                    <h4>Team work</h4>
                    <div class="skill-container">
                      <div class="skill-percentage skill-2"></div>
                    </div>

                    <h4>Creativity</h4>
                    <div class="skill-container">
                      <div class="skill-percentage skill-2"></div>
                    </div> 
                    <h4>Efficiency</h4>
                    <div class="skill-container">
                      <div class="skill-percentage skill-3"></div>
                    </div> 
                  </div>

                  <div class="block-title">
                    <h3>Profession Skills</h3>
                  </div>
                  <div class="skills-info">
                    <h4>HML5</h4>                               
                    <div class="skill-container">
                      <div class="skill-percentage skill-4"></div>
                    </div>

                    <h4>CSS3</h4>
                    <div class="skill-container">
                      <div class="skill-percentage skill-4"></div>
                    </div>

                    <h4>jQuery</h4>
                    <div class="skill-container">
                      <div class="skill-percentage skill-5"></div>
                    </div>

                    <h4>PHP</h4>
                    <div class="skill-container">
                      <div class="skill-percentage skill-4"></div>
                    </div>

                    <h4>Codeigniter</h4>
                    <div class="skill-container">
                      <div class="skill-percentage skill-4"></div>
                    </div>
                    <h4>Ajax</h4>
                    <div class="skill-container">
                      <div class="skill-percentage skill-2"></div>
                    </div>
                    <h4>MySQL</h4>
                    <div class="skill-container">
                      <div class="skill-percentage skill-4"></div>
                    </div>
                    <h4>Photoshop</h4>
                    <div class="skill-container">
                      <div class="skill-percentage skill-3"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <div class="download-cv-block">
                    <a class="button" target="_blank" href="#">Download CV</a>
                  </div>
                </div>
              </div>
            </section>
            <!-- End Resume Subpage -->